body{
	margin: 0;
	height: 100%;
	font-family: sans-serif;	
}

body > * {
	box-sizing:border-box;
	height: 100%;
}

.left {
	float: left;
	width: 50%;
	background-color: cornsilk;
	padding: 10px 50px;
}

.right {
	float: right;
	width: 50%;
	background-color: aliceblue;
	padding: 10px 50px;
	box-shadow: 0 0 3px black
}

textarea, button {
	width: 100%;
	font-size: 30px;
}

textarea {
	height: 120px;
}