<html>
<head>
	<title>Performance-test</title>
	<style>
	.grid-row{}
	.grid-item{
		position: absolute;
		display:inline-block;
		border: 1px solid black;
	}
	</style>
</head>
<body>

<div id="grid">
{% for row in grid %}
	<div class="grid-row">
	{% for item in grid %}
		<div class="grid-item" data-x="{{item}}" data-y="{{row}}">
		</div>
	{% endfor %}
	</div>
{% endfor %}
</div>

<script src="/js/jquery.js"></script>
<script src="/js/color.js"></script>
<script src="/js/render.js"></script>
<!-- <script src="/js/render-and-measure.js"></script> -->
<!-- <script src="/js/log-js-performance.js"></script> -->

<!-- <script src="/js/render2.js"></script> -->
<!-- <script src="/js/render3.js"></script> -->
<script>
var gridSize = {{ grid.length }};
</script>
</body>
</html>